html, body, *, a, ul, li {
	padding: 0px;
	margin: 0px;
	list-style: none;
	list-style-type: none;
}

* {
	font-family: 'Roboto', sans‐serif;
}

#container {
	width: 100%;
	height: 100%;
}

#container form {
	width: 400px;
	height: 500px;
	margin: 250px auto;
	outline: 1px solid #e7e7e7;
}

#container form #thumb {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding-top: 20px;
}
#container form #thumb img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
#container form input {
	width: 350px;
	height: 30px;
	margin-bottom: 20px;
	margin-left: 25px;
	text-align: center;
}

#container form fieldset {
	width: 150px;
	height: 40px;
	margin-left: 25px;
	border: 0px;
	float: left;
}

#container form fieldset button {
	width: 150px;
	height: 30px;
	float: left;
}
.myButton {
	-moz-box-shadow: 1px 4px 3px 2px #d1d1d1;
	-webkit-box-shadow: 1px 4px 3px 2px #d1d1d1;
	box-shadow: 1px 4px 3px 2px #d1d1d1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf));
	background:-moz-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-webkit-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-o-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:-ms-linear-gradient(top, #63b8ee 5%, #468ccf 100%);
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf',GradientType=0);
	background-color:#63b8ee;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-size:15px;
	padding:8px 27px;
	border:0px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee));
	background:-moz-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-webkit-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-o-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:-ms-linear-gradient(top, #468ccf 5%, #63b8ee 100%);
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee',GradientType=0);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}
#container form fieldset:last-child {
	margin-left: 50px;
}
