html, body, *, a, ul, li {
	padding: 0px;
	margin: 0px;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	color:black;
	font-family: 'Roboto', sans‐serif;
}

* {
	font-family: 'Roboto', sans‐serif;
}
#container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}
#bg {
	width: 430px;
	height: 530px;
	margin: 0 auto;
	position: relative;
	top: 100px;
	background-color: rgba(56,89,101,0.2);
	border-radius: 5px;
}
#container form {
	width: 400px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #e7e7e7;
	position: relative;
	top: 15px;
	border-radius: 4px;
	background-color: #fff;
}
#container form #thumb {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding-top: 20px;
}
#container form #thumb img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
#container form input {
	width: 350px;
	height: 30px;
	margin-bottom: 20px;
	margin-left: 25px;
	text-align: center;
	border-radius: 2px;
	background-color: rgba(183,195,192,0.7);
	border: 0px;
}
#container form fieldset {
	width: 400px;
	height: 40px;
	border: 0px;
}
#container form fieldset button {
	width: 150px;
	height: 30px;
	display: block;
	margin: 0 auto;
	color:#fff;
}
.myButton {
	width: 350px !important;
	background-color: rgba(124, 140, 136, 1);
	border: 1px solid #E7E7E7;
	font-weight: 400;
	color: #FFF;
	font-size: 14px;
	transition: opacity 0.1s;
}
.myButton:hover {
	opacity:.85;
    cursor: pointer; ;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* Página - Logado */

header {
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	border-bottom: 1px solid #ccc;
}
nav {
	width: 100%;
	height: 50px;
}
nav ul {
	width: 1024px;
	height: 50px;
}
nav ul li {
	float: left;
	padding: 15px;
}
#wrapper {
	position: relative;
	top: 50px;
	height: 100%;
}
#new_user {
	position:relative;
	top:50px;
}
#new_user form{
	width:500px;
	margin:0 auto;
	margin-top:100px;
}
#new_user form > input {
	display: block;
	height: 40px;
	width:460px;
	text-align:center;
	margin:20px;
}
#new_user form button {
	width: 345px;
	height: 50px;
	background-color: rgba(124, 140, 136, 1);
	border: 1px solid #E7E7E7;
	text-transform: uppercase;
	font-weight: 400;
	color: #FFF;
	cursor: pointer;
	font-size: 16px;
	margin:20px;
	float: left;
}
#new_user form select {
	width: 345px;
}
#new_user form button:hover {
    opacity:.85;
    cursor: pointer; 
}
#new_user form fieldset {
	margin:0 auto;
	width:350px !important;
	height: 20px;
	line-height: 35px;
	border:0;
}
#new_user form fieldset .rad1 {
	margin: 0 auto;
	width: 20px;
	display: block;
}
#new_user form fieldset input:nth-child(1) {
	margin-left:140px;
}
#new_user form p {
	text-align:center;
}
.my-button2 {
	width: 60px;
	height: 30px;
	background-color: #fff;
	border: 0px;
}


/* Table Users  */

.table-holder {
	width: 800px;
	margin: 0 auto;
	margin-bottom: 50px;
	outline: 1px solid #ccc;
	position: relative;
	top: 50px;
	display: block;
}
.table-holder table {
	width: 100%;
	height: auto;
	font-size: 0;
	border-spacing: 0;
	margin-bottom: 10px;
} 
.table-holder table th {
	line-height: 50px;
	text-align: left;
	background-color: rgba(56, 89, 101, 0.8);
	border: 0;
	font-size: 14px;
	color: #fff;

}
.table-holder table tr td, th {
	padding-left: 5px;
}
.table-holder table tr {
	height: 40px;
}
.table-holder table tr:nth-child(2) {
	height: 0px;
}
.table-holder table td {
	border: 0;
	font-size: 14px;
	letter-spacing: 1px;
}
.table-holder table td {
	border-bottom: 1px solid #ccc !important;
}
.table-holder table th:last-child, .table-holder table th:nth-child(4) {
	text-align: center;
}
.table-holder table td:last-child {
	text-align: center;
}
.table-holder table td:nth-child(3), th:nth-child(3){
	text-align: center !important;
}
.table-holder table td a {
	width: 50px;
	height: 20px;
	margin: 0 auto;
}
.table-holder table tr td:nth-child(4) {
	width: 100px;
}
.table-holder table tr td:nth-child(4), a {
	width: 100px;
	height:30px;
	text-align: center;
}
.table-holder table tr td:nth-child(4) button {
	width: 27px;
	cursor: pointer;
}

/* Editar */

#up-form {
	position: relative;
	top: 51px;
	width: 100%;
	height: 100%;
}

#element_to_pop_up { 
    background-color: #fff;
    color:#000; 
    padding:20px;
    width: 400px;
    height: 450px;
    margin: 0 auto;
    outline: 1px solid #ccc;
    margin-top: 60px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
#element_to_pop_up h3 {
	text-align: center;
	color: rgb(56, 89, 101);
	margin-bottom: 20px;
}
#element_to_pop_up form {
	width: 350px;
	height: 220px;
	margin: 0 auto;
}
#element_to_pop_up form ul {
	width: 350px;
	padding-left: 0;
}
#element_to_pop_up li{
    position:relative;
    width: 350px;
    height: 70px;
    float: left;
    margin: 0 auto;
}
#element_to_pop_up li .icon-form {
	width: 45px;
	height: 40px;
	float: left;
	line-height: 40px;
	background-color: rgba(56, 89, 101, 0.8);
}
#element_to_pop_up li .icon-form i {
	width: 40px;
	line-height: 40px;
	color: #fff;
}
#element_to_pop_up li .icon-form i:before {
	width: 20px;
	margin-left: 15px;
}
#element_to_pop_up #textarea {
	width: 310px;
	height: 100px;
	margin-bottom: 30px;
}
#element_to_pop_up #textarea .icon-form-text {
	width: 45px;
	height: 100px;
	float: left;
	line-height: 40px;
	background-color: rgba(105,190,223,0.2);
}
#element_to_pop_up #textarea .icon-form-text i {
	width: 40px;
	line-height: 40px;
}
#element_to_pop_up #textarea .icon-form-text i:before {
	width: 20px;
	margin-left: 15px;
}
#element_to_pop_up #textarea textarea {
	width: 260px;
	height: 100px;
	float: left;
}
.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}
#element_to_pop_up input, #element_to_pop_up textarea {
    height:40px; 
    width:300px; 
    padding:5px 8px;
    margin-bottom: 5px;
    text-align: left;
    font-family: "Roboto",sans‐serif;
    font-size: 14px;
    font-weight: 400;
    float: left;
    color: #999;
    border:1px solid #e7e7e7;
    box-shadow: 0px;
    outline: 0px;
}
#element_to_pop_up input:focus, #element_to_pop_up textarea:focus {
    box-shadow: 0;
    background-color: rgba(133,199,225,0.2);
    border:0;
    border-radius: 0;
}
#element_to_pop_up ::-webkit-input-placeholder {
   color: #999;
   font: 14px verdana, arial, sans-serif;
}

#element_to_pop_up :-moz-placeholder {
   color: #999;
   font: 14px verdana, arial, sans-serif;
}

#element_to_pop_up ::-moz-placeholder {
   color: #999;  
   font: 14px verdana, arial, sans-serif;
}

#element_to_pop_up :-ms-input-placeholder {  
   color: #999;  
   font: 14px verdana, arial, sans-serif;
}

#element_to_pop_up button {margin-left:156px;}

li#button-contact-form {
	width: 350px;
	height: 150px;
}
li#button-contact-form_2 label {
	display: inline-block;
	line-height: 15px;
	font-size: 20px;
}
li#button-contact-form_2 .tipo_up {
	display: inline-block;
	width: 25px;
	height:18px;
	float: none;
}
li#button-contact-form input[type=checkbox] {
	margin-top: 15px;
   	border-radius:0px;
	background-color:#fff;
	color:black;
	width:15px;
	height:15px;
	cursor: pointer;
	clear: both;
}
li#button-contact-form input[type=checkbox]:checked{
	color:#999;
}
#element_to_pop_up button {
    width: 345px;
    height: 50px;
    background-color: rgba(183, 195, 192, 0.7);
    border: 1px solid #e7e7e7;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-left: 0 !important;
    float: left;
}
#element_to_pop_up button:hover {
    opacity:.85;
    cursor: pointer; 
}
#element_to_pop_up button:active {
    border: 1px solid #fff;
    outline: 0;
}
.btn-add {
	width: 200px;
	height: 40px;
	margin-bottom: 10px;
	position: relative;
	top: 15px;
	background-color: #ccc;
	border-radius: 2px;
	-webkit-transition: all 0.1s; /* Safari */
    transition: all 0.1s;
}
.btn-add:hover {
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.5);
}
.btn-add .myButton2 {
	line-height: 35px;
	display: block;
	margin: 0 auto;
	width: auto;
}
.msg-return {
	position: absolute;
	top: -70px;
	width: 100%;
	height: 115%;
	margin: 0 auto;
	z-index: 99999;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
}
.style-msg {
	padding: 50px;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	display: inline-block;
	margin: 0 auto;
	margin-top: 150px;
}
.pages {
	width: 100%;
	height: 40px;
	padding-top: 10px;
}
.pages ul {
	max-width: 100px;
	margin: 0 auto;
}
.pages ul li {
	float: left;
	margin: 0 auto;
	margin-left: 5px;
}

select {
	height: 40px;
	width: 300px;
	border: 1px solid #e7e7e7;
	color: #999;
}
.page-active {
	color: #999;
	font-weight: bold;
	text-decoration: underline;
}

.btn-action {
	width: 800px;
	height: 100px;
	margin: 0 auto;
}
.action { 
	width: 380px;
	height: 100px;
	float: left;
}
.-off {
	width: 230px;
	float: right;
}
.-off .fa {
	width: 20px;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 15px;
    margin-right: 10px;
}
.-off input {
	width: 200px;
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    top: 15px;
    right: 0px;
    background-color: #fff;
    border-radius: 2px;
    border: 0px;
    border: 1px solid #ccc;
    float: right;
}
footer {
	height: 15px;
	width: 100%;
}
footer p {
	cursor: pointer;
	text-align: center;
	text-decoration: underline;
	padding-top: 10px;
	font-size: 12px;
}
footer p a {
	color: #999;
}
